asgiref
autopep8
boto3
botocore
Django~=4.2.2
django-crispy-forms
django-environ
django-filter~=23.2
django-localflavor
django-storages
gunicorn
jmespath
Pillow
psycopg2
pycodestyle
python-dateutil
python-stdnum
s3transfer
six
sqlparse
toml
urllib3
whitenoise
environ~=1.0