<style>
.card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img-wrapper {
  position: relative;
}

.card-img-top {
  width: 100%;
  display: block;
  border-radius: 8px;
  transition: opacity 0.3s;
}

.card-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s;
}

.card:hover .card-img-top {
  opacity: 0.6;
}

.card:hover .card-details {
  opacity: 1;
}

.card-text {
  font-size: 1.2rem;
  color: #fff;
}

.card-description {
  margin-top: 1rem;
  color: #fff;
  text-align: center;
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit the description to one line */
  -webkit-box-orient: vertical;
}

.card-username {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #fff;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit the username to one line */
  -webkit-box-orient: vertical;
}

.card-actions {
  margin-top: 1.5rem;
  display: flex;
  gap: 0.5rem;
}

.btn {
  padding: 0.25rem 0.75rem;
  font-size: 0.8rem;
}

.btn-secondary {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.btn-secondary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.text-muted {
  color: #ccc;
  font-size: 0.8rem;
}


</style>





<div class="card shadow-sm">
  <div class="card-img-wrapper">
    <img class="bd-placeholder-img card-img-top" src="{{listing.image.url}}" role="img" aria-label="Placeholder: Thumbnail" focusable="false">
    <div class="card-details">
      <h4 class="card-text">{{listing.model}}</h4>
      <div class="row justify-content-start align-items-center">


      </div>
      <p class="card-description">{{listing.description}}</p>
      <div class="card-actions">
        <a href="{% url 'listing' id=listing.id %}" class="btn btn-sm btn-outline-secondary">View</a>
        {% if listing.seller.user == request.user %}
        <a href="{% url 'edit' id=listing.id %}" class="btn btn-sm btn-outline-secondary">Edit</a>
        {% endif %}
        <button id="like_{{listing.id}}" type="button" value="like" class="btn btn-secondary">
          {% if listing.id in liked_listings_ids %}
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-heart" viewBox="0 0 16 16">
            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"></path>
          </svg>
          {% else %}
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-heart" viewBox="0 0 16 16">
            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"></path>
          </svg>
          {% endif %}
        </button>
      </div>
    </div>
  </div>
</div>





<script>
    $("#like_{{listing.id}}").click(function () {
        $.ajax({
            type: "POST",
            url: "{% url 'like_listing' id=listing.id %}",
            data: { 'csrfmiddlewaretoken': '{{csrf_token}}' },
            dataType: "json",
            success: function (r) {
                $("#like_{{listing.id}}").find("svg").attr("fill", r.is_liked_by_user ? "red" : "black");
            },
            error: function (rs, e) {
                alert(e);
            }
        });
    })
</script>