{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Abbas Abbasi, AbbasAbbasiGo">

    {% block title %}
        <title>Shiraz Cars . List Your Car Today!</title>
    {% endblock %}

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://unicons.iconscout.com/release/v2.1.9/css/unicons.css'>

    <!-- Custom Style CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">


    <!-- JQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>


<body>
{% if messages %}
    {% for message in messages %}
        <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
{% block header %}
    <header class="p-3 bg-dark text-white w-100 nav-masthead">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="{% url 'home' %}"
                   class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img class="bi me-2" width="32" height="32" src="{% static 'images/logo.png' %}"
                         aria-label="Bootstrap" alt="">
                </a>
                {% if request.user.is_authenticated %}
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li>
                            <a href="{% url 'profile' %}" class="nav-link px-2">Profile</a>
                        </li>
                    </ul>
                    <div class="text-end">
                        <a type="button" href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </header>
{% endblock %}
{% block body %}
{% endblock %}
</body>

{% block footer %}

    <footer class="footer text-muted bg-dark py-5">

        <div class="container">

            </p>
            <p class="mb-1"> Shiraz Cars - Best place to buy & Sell Cars</p>
            <p class="mb-0"> © Copyright {% now 'Y' %} <a href="yascars.co.uk/">Shiraz Cars</a></p>
            <p class="mb-0"> Created By <a href="abbasabbasigo.ir/">Abbas Abbasi</a></p>
        </div>

    </footer>

{% endblock %}

</html>